@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700&family=Roboto+Mono:wght@100;300;400;500&family=Roboto:wght@100;300;500;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}
body {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-repeat: space;
}
.container {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.content {
    display: flex;
    width: 60%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 25px;
}
.content .title {
    font-size: clamp(3rem, 8vw, 8rem);
    color: #1D3557;
    margin-bottom: 2rem;
    position: relative;
}
.content .title::before {
    content: " ";
    position: absolute;
    height: 10px;
    width: 30%;
    border-radius: 10px;
    background-color: #E63946;
    bottom: 1px;
}
.card-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40%;
    align-items: center;
    flex-wrap: wrap;
}
.card-container .card {
    height: 80%;
    width: 180px;
    background-color: #002A36;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px 25px;
    border-radius: 10px;
    color: #FFFFFF;
    font-weight: 500;
    text-align: center;
    font-size: 1em;
    margin: 20px;
}
.card-container .card:first-child {
    margin-left: 0;
}
.card-container .card img {
    width: clamp(40px, 60%, 64px);
}
.form-login {
    width: 40%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}
.form-login .form {
    background-color: #002A36;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}
.form-login .form .input-user {
    margin: 10px 0;
    position: relative;
}
.form-login .form .input-user .input {
    padding: 10px;
    border-radius: 10px;
    background: none;
    outline: none;
    border: solid 2px #008793;
    position: relative;
}
.form-login .form .input-user .label-input {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}
